<a href="https://colab.research.google.com/github/harsh-HD6/Agro_Tech/blob/master/Copy_of_Copy_of_ferPred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tabular models

In [4]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [5]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [6]:
cd '/content/gdrive/My Drive/Colab Notebooks'

/content/gdrive/My Drive/Colab Notebooks

In [7]:
ls

'Copy of Copy of ferPred.ipynb'   export.pkl      FertPredictDataset.csv
'Copy of ferPred.ipynb'           ferPred.ipynb

In [8]:
path = Path('.')
df = pd.read_csv(path/'FertPredictDataset.csv')

In [9]:
df.describe()

                Ca           Mg  ...     Moisture        class
count  1599.000000  1599.000000  ...  1599.000000  1599.000000
mean      0.552033     0.552158  ...     0.702939     2.500938
std       0.207752     0.208562  ...     0.141236     1.118104
min       0.100000     0.100000  ...     0.500000     1.000000
25%       0.500000     0.500000  ...     0.600000     2.000000
50%       0.600000     0.600000  ...     0.700000     3.000000
75%       0.700000     0.700000  ...     0.800000     3.500000
max       0.800000     0.800000  ...     0.900000     4.000000

[8 rows x 10 columns]

In [10]:
dep_var = 'class'
cat_names = []#'workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['Ca', 'K','S','N','Lime','C','P', 'Moisture','Mg']
procs = [FillMissing]

In [11]:
test = TabularList.from_df(df.iloc[1400:1598].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [12]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(1400,1598)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [13]:
data.show_batch(rows=10)

In [14]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [15]:
learn.fit(1, 1e-2)

In [16]:
learn.export()

## Inference

In [17]:
row = df.iloc[564]

In [18]:
learn.predict(row)

(Category tensor(2), tensor(2), tensor([0.0038, 0.0027, 0.9888, 0.0047]))