# Tabular models

In [1]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

In [ ]:
cd '/content/gdrive/My Drive/Colab Notebooks'

In [ ]:
ls

In [2]:
path = Path('.')
df = pd.read_csv(path/'FertPredictDataset.csv')

In [3]:
df.describe()

,Ca,Mg,K,S,N,Lime,C,P,Moisture,class
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,0.552033,0.552158,0.554284,0.551032,0.551782,0.548030,0.549656,0.550594,0.702939,2.500938
std,0.207752,0.208562,0.209547,0.204817,0.209015,0.205967,0.205063,0.203223,0.141236,1.118104
min,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.500000,1.000000
25%,0.500000,0.500000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.600000,2.000000
50%,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000,0.700000,3.000000
75%,0.700000,0.700000,0.700000,0.700000,0.700000,0.700000,0.700000,0.700000,0.800000,3.500000
max,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.800000,0.900000,4.000000

In [4]:
dep_var = 'class'
cat_names = []#'workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['Ca', 'K','S','N','Lime','C','P', 'Moisture','Mg']
procs = [FillMissing]

In [5]:
test = TabularList.from_df(df.iloc[1400:1598].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [6]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(1400,1598)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [7]:
data.show_batch(rows=10)

In [8]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [9]:
learn.fit(1, 1e-2)

In [ ]:
!pip list

In [ ]:
learn.export()

## Inference

In [11]:
row = df.iloc[0]

In [12]:
learn.predict(row)

(Category tensor(3), tensor(3), tensor([0.0176, 0.0172, 0.0220, 0.9433]))